!!!5
html
  head
    link(rel='stylesheet' href='css/site.css')
    script(src='http://localhost:1337/livereload.js')
  body

    script(src='js/lib/jquery.min.js')
    script(src='js/lib/jgravity.min.js')
    script(src='js/lib/socket.io.min.js')
    script(src='js/lib/physics.min.js')
    script(src='js/lib/sketch.min.js')
    script(src='js/lib/soundcloud-widget-api.min.js')
    script(src='js/sound-drop.js')
    script(src='js/main.js')